.mainwrapper {
    background: url('./beijing3.jpeg') no-repeat center; /*CHANGE */
    background-size: cover;
   
    width: 100vw;
    height: 100vh;

}

.submitbuttoncontainer button {
    background-color: rgb(39, 39, 151);
    
}